.commandline {
  padding-top: 3vw;
  padding-left: 20vw;
  padding-right: 20vw;
  flex-grow: 1;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #1A1A1D; 
  color: #F2E9E4; 
  font-family: 'Monaco', monospace;
  overflow: hidden;
  box-sizing: border-box;
  font-size: 15px;

}

.commandline-output {
  flex-grow: 0; 
  overflow-y: auto; 
  width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  text-align: left;
  padding: 5px 10px; 
  font-size: inherit;
  background: transparent;
  color: inherit;
  white-space: pre-wrap; 
  word-wrap: break-word; 

  scroll-behavior: smooth;

  /* Firefox */
  scrollbar-width: thin; 
  scrollbar-color: #F2B3A2 transparent; 

}

.commandline-output::-webkit-scrollbar {
  width: 8px;
}

.commandline-output::-webkit-scrollbar-thumb {
  background-color: #F2B3A2; 
  border-radius: 4px;
}

.commandline-output::-webkit-scrollbar-track {
  background: transparent;
}

.commandline-output:hover::-webkit-scrollbar-thumb {
  background-color: #F2B3A2;
}


.commandline-prompt {
  display: flex;
  align-items: baseline; 
  padding: 5px 10px;
  width: 100%;
  gap: 5px;
}

.commandline-input {
  flex-grow: 1;
  background: transparent;
  color: inherit;
  caret-color: #F2B3A2; 
  font-size: inherit;
  border: none;
  outline: none;
  resize: none;
  width: 100%;
  min-height: 24px;
  line-height: 1.2; 
  box-sizing: border-box;
  text-transform: none;
}

.prompt-symbol {
  font-size: inherit;
  line-height: 1.2; 
  display: flex;
  align-items: baseline; 
  background: transparent;
  color: #F2B3A2; 
}
