#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.App {
  display:flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  font-family:"JetBrains Mono","Cascadia Code", "Fira Code", monospace;
  overflow: hidden;
}

